asgiref==3.8.1
certifi==2025.1.31
cloudinary==1.42.2
crispy-bootstrap5==2024.10
Django==5.1.5
django-crispy-forms==2.3
pillow==11.1.0
psycopg==3.2.4
psycopg2==2.9.10
python-decouple==3.8
six==1.17.0
sqlparse==0.5.3
urllib3==2.3.0
